{% extends "navbar.html" %}
{% block style %}
    <link rel="stylesheet" href="../static/index.css">
{% endblock %}
{% block content %}
    <main>
        <h1>AgriGuide : "A compass to navigate the journey from soil to harvest."</h1>
        <p style="color: black;">Welcome to AgriGuide, an innovative crop yield system designed to empower farmers with data-driven insights and recommendations. Our system not only predicts crop yields with high accuracy but also suggests the best crops to plant based on soil characteristics, rainfall patterns, and other environmental factors. With AgriGuide, farmers can make informed decisions to maximize their productivity and promote sustainable agriculture.</p>
        <br>
            <h3>Let's Start Your Journey With AgroGuide</h3>
        <br>
       
        <div class="cta-buttons">
            <a href="/yield_pred">Predict Yield</a>
            <a href="/recommend">Recommend Crop</a>
        </div>

        <div class="features">
            <h2>Key Features</h2>
            <ul>
                <li>Accurate yield predictions based on advanced algorithms</li>
                <li>Personalized crop recommendations tailored to your soil and climate</li>
                <li>Comprehensive data analysis to support sustainable farming practices</li>
                <li>User-friendly interface for easy access to insights and recommendations</li>
            </ul>
        </div>

        <div class="questions">
            <h2>Here Are Few Questions We'll Answer</h2>
            <ul>
                <li>What crop to plant here?</li>
                <li>predict your yield?</li>
                <li>Guide You for building crop on your own?</li>
                <li>Want a platform which helps in farming?</li>
            </ul>
        </div>

      </main>
{% endblock %}